{% extends "index.html" %}

{% block title %}Get It Checked{% endblock %}

{% block content %}
<section class="home" id="home">
    <div class="row d-flex align-items-center justify-content-center"
        style="background-color: #f8f9fa; padding-top: 75px;">
        <div class="col-md-8 text-center">
            <h1 class="app-color">ASSIGNMENT PLAGIARISM CHECKER</h1>
            <p class="lead app-color">Plagiarism is a developing issue that is often characterized as literary theft...
            </p>
            <p class="app-color">Scans Everything</p>
            <div class="d-flex justify-content-center gap-3">
                {% if not session['login'] %}
                <a href="/student" class="btn btn-primary">Student</a>
                <a href="/faculty" class="btn btn-secondary">Faculty</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- Applications Section -->
<section class="py-5 bg-light">
    <div class="container">
        <div class="row p-0 text-center pb-5">
            <div class="col-md-4">
                <i class="fa fa-child fa-3x text-danger"></i>
                <p>Plagiarism Detection in Computer Programming Assignments</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-graduation-cap fa-3x text-success"></i>
                <p>Evaluate and Assign Marks</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-lock fa-3x text-primary"></i>
                <p>Prevents Copying of Assignments</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}