/* Custom Styles */
body {
    font-family: 'Lato', sans-serif;
}

.nav-link {
    color: white !important;
}

.bg-black {
    background-color: #000;
}

.app-color {
    color: rgb(238, 75, 0) !important;
}

#navbarNav li a:hover {
    color: rgb(238, 75, 0) !important;
}

.logo {
    height: 40px;
}

.hidden {
    display: none;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
}

.small-link {
    font-size: 0.9rem;
    text-decoration: underline;
}

.sidebar ul li {
    background-color: #ebebeb;
    margin: 10px 10px 0 0;
}

.sidebar ul li a {
    color: black !important;
}

.sidebar ul li:hover,
.sidebar ul li a:hover {
    background-color: #dfdfdf;
}

.breadcrumb {
    margin: 10px 0px 10px 0px;
    background-color: #ebebeb;
    padding: 5px;
}

.nav-link.active {
    color: rgb(238, 75, 0) !important;
}

